<footer class="bg-light text-dark pt-4 pb-3 mt-5 border-top">
    <div class="container text-center">
      <!-- Social Icons -->
      <div class="mb-3">
        <a href="https://www.instagram.com" target="_blank" class="text-light me-3">
          <i class="fab fa-instagram fa-lg"></i>
        </a>
        <a href="https://www.facebook.com" target="_blank" class="text-light me-3">
          <i class="fab fa-facebook fa-lg"></i>
        </a>
        <a href="https://www.linkedin.com" target="_blank" class="text-light">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
      </div>

      <!-- Footer Links -->
      <div class="mb-2">
        <a href="/privacy" class="text-dark  me-3 text-decoration-none">Privacy Policy</a>
        <a href="/terms" class="text-dark  text-decoration-none">Terms & Conditions</a>
      </div>

      <!-- Copyright -->
      <p class="mb-0">&copy; 2025 Car Bazar. All rights reserved.</p>
    </div>
  </footer>