<% layout("/layouts/boilerplate") %>

<div class="content-wrap">
  <div class="row">
    <div class="alert alert-danger col-6 offset-3 mt-2" role="alert">
      <p><%= err.message%></p>
    </div>
  </div>
</div>